<html lang="en">
  <%- include('./partials/nav.ejs') %>
  <body>
    <div>
      <h2>Home page</h2>
      <p>
        We should probably have 2 buttons that link to sign in and register
        account if not a member
      </p>
    </div>
  </body>
</html>
