<html lang="en">
  <%- include('./partials/nav.ejs') %>
  <body>
    <div>
      <h2>Home page</h2>
      <button><a href="/login">Sign In</a></button>
      <button><a href="/register">Register</a></button>
    </div>
  </body>
</html>
